.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.header-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* vaadin-button {
    cursor: pointer;
} */